html, body{
    margin: 0;
    padding: 0;
}

#articles{
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    font-size: 17px;
    font-family: 'Rubik', sans-serif;
    position: absolute;
    top: 60px;
    left: 160px;
}

a{
    color: black;
    text-decoration: none;
}

h2{
    font-size: 10px;
    font-family: 'Helvetica', sans-serif;
}

#article{
    margin: 5px;
    border-radius: 4px;
    max-width: 36ch;
    width: 36ch;
    max-height: 275px;
    height: 272px;
    text-align: center;
    background: #EEEEEE;
    overflow: hidden;
}

#article-photo{
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 225px;
    margin: 0;
}

#article-headline{
    margin-top: 0;
    top: 225px;
}

#title{
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
    font-family: 'Rubik', sans-serif;
}

#filter{
    position: absolute;
    left: 0;
    top: 40px;
    background-color: #EEEEEE;
    height: auto;
    width: 160px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    border-bottom-right-radius: 4px;
    z-index: -1;
}

#nav{
    background-color: #ff614e;
    width: 100%;
    height: 40px;
}

#sort-buttons{
    text-align: left;
    margin: 10px;
}

#source-buttons{
    text-align: left;
    margin: 10px;
}

#source-divider{
    width: 100%;
    background-color: #EEEEEE;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
    font-size: 22px;
}


